<!doctype html>
<html>
<head>
     <title>This is a title, eh</title>
</head>
<body>
    <h2>HeartRate stats</h2>
    <ol>
        <li>The max is <%= min %></li>
        <li>The min is <%= max %></li>
        <li>The mean is <%= mean %></li>
        <li>The median is <%= median %></li>
    </ol>
    
</body>

</html>
