<!doctype html>
<html>
<head>
     <title>This is a title, eh</title>
</head>
<body>
    <h2>An 'appy App Engine Assignment</h2>
    <ol>
        <li>/appData/?heartRate=num</li>
        <li>/statistics will show the current stats for your heartrate</li>
    </ol>
</body>

</html>
